-e git+https://github.com/sapcc/raven-python.git#egg=raven
-e git+https://github.com/sapcc/openstack-ops-middleware.git#egg=ops-middleware
-e git+https://github.wdf.sap.corp/monsoon/keystone-extensions.git@ocata#egg=keystone-extensions