git+https://github.com/sapcc/raven-python.git#egg=raven
git+https://github.com/sapcc/openstack-ops-middleware.git#egg=ops-middleware
git+https://github.wdf.sap.corp/monsoon/keystone-extensions.git@newton#egg=keystone-extensions
git+https://github.com/sapcc/osprofiler.git#egg=osprofiler
